body {
  background-color: #57abf3;
  font-size: 2em;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

input[type=button] {
  color: #FFF;
  background-color: #ff2000;
  border-color: #ff2000;
}
